





@media screen and (max-width:768px) {
    .grids{
        padding-left:10px;
    }

    .flex_box{
        width:350px;
    }


    #flex_box{
        width:715px;
    }
}

@media screen and (max-width:500px) {
    .grids{
        padding-left:1px;
    }

    .flex_box{
        width:330px;
    }

    #flex_box{
        width:330px;
    }
}